<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="55d0babb-aa68-443c-84f3-c6e1981fb93a" Publisher="CN=Andy" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FIFATournamentRC</DisplayName>
    <PublisherDisplayName>Andy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FIFATournamentRC.App">
      <VisualElements DisplayName="FIFATournamentRC" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FIFATournamentRC" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1d1d1d" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>